body{
    max-width: 960px;
    margin: auto;
}

nav>ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


nav>ul>li{
    float: left;
}

nav>ul>li>a{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: lightgray;
    margin: 2.5px;
}

nav>ul>li>a:hover{
     color: deepskyblue;
}

section>p{
    magin-top: 30px;
    margin-right: 10px;
}
#sitelogo{
    width: 369px;
    margin-top: 30px;
    margin-right: 15px;

}