body{
    max-width: 960px;
    margin: auto;
}

header>#title>h1{
    font-family: 'Passion One', cursive;
    font-size: 40pt;
    margin-bottom: 5px;
}
header>#title>h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    margin-top:0px;
    font-weight: normal;
}

nav>ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


nav>ul>li{
    float: left;
}

nav>ul>li>a{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: lightgray;
    margin: 2.5px;
}

nav>ul>li>a:hover{
     color: deepskyblue;
}
#form{
    margin-top: 60px;
    padding-left: 230px;
    padding-right: 230px;
    margin-bottom: 50px;
}
form{
     margin: auto;
}
form>label{
    display: block;
    width: 150px;
    float: left;
}

input, textarea {
    font-size:12px;
    width:300px;
}

select{
    width: 300px;
}

button{
    width: 150px;
    align: right;
}

main{
    min-height: 600px;
}

content>p{
    magin-top: 30px;
    margin-right: 10px;
}
#sitelogo{
    width: 369px;
    margin-top: 30px;
    margin-right: 15px;

}

footer{
    padding: 10px;
    padding-left: 0px;
    border-top: 850px;
    border-top: dotted;
}

footer>p{
    max-width: 850px;
    text-align: left;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
